*{
    margin: auto;
}
body{
    background-image: url("https://www.wallpaperuse.com/wallp/68-689553_m.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;   
    }
  b{
      color:white;
      
  }
  

#cuadro {
   width: 800px;
   height: 400px;

    margin-top: 50px;
    margin-bottom: 50px;    
    
}
.cuadro1 {
    float: left;
    border:solid 1px;
    margin-left: 40px;
    margin-top: 50px; 
    border: solid 1px white;
    border-radius: 30px;
    padding-left:40px ;
    padding-top:40px ;
    padding-bottom:40px ;
    padding-right:40px ;
    background-image: url("https://p4.wallpaperbetter.com/wallpaper/812/154/464/super-mario-nintendo-video-games-retro-games-wallpaper-preview.jpg");
    background-size: cover;
    filter: brightness(120%);

   
}
.cuadro2 {
    margin-top: 50px; 
    float:left;
    margin-left: 190px;
    border: solid 1px;
    border-radius: 30px;
    padding-left:40px ;
    padding-top:40px ;
    padding-bottom:40px ;
    padding-right:40px ;
    background-image: url("https://p4.wallpaperbetter.com/wallpaper/812/154/464/super-mario-nintendo-video-games-retro-games-wallpaper-preview.jpg");
    background-size: cover;
    filter: brightness(120%);
}

input{
    
    border: 0;
    outline: 0;
    background-color: white;
    border-bottom: 2px solid black;
    border-radius: 5px;
    height: 18px;
}